.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.get-started-now-btn {
    padding: 1rem;
    width: 12rem;
    background-color: #2a86f8;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: .2s ease;
}

.get-started-now-btn:hover {
    background-color: #1b6bcc;
    color: white;
}

.picture img {
    margin-left: 10rem;
    max-width: 40rem;
    height: auto;
    margin-top: 5rem;
}