html,
body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 80svh;
}

.navbar-brand {
    height: 3.5rem;
    margin-right: 3rem;
}

.link {
    text-decoration: none;
}
