main > h2 {
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#error-message {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

form > button {
    width: 100%;
}
