.main-centered {
    flex-direction: row;
    justify-content: space-evenly;
}

#intro {
    width: 40%;
}

#intro a {
    border-radius: 0.75rem;
    padding: 0.6rem 0.85rem;
}

main img {
    width: 30%;
}

.heading {
    text-align: center;
}

.bold {
    font-weight: bold;
}

#chart-box {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 85vw;
}

#chart {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stock-item span {
    font-size: 1.1rem;
}
.stock-item-display span {
    font-weight: 650;
    font-size: 1.2rem;
}

#stocks {
    margin-bottom: 2rem;
}

#modal .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

#modal .modal-body p {
    text-align: center;
    margin: 0;
}

#modal .modal-body .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

#modal .modal-body .content p {
    text-align: center;
    margin: 0;
}

#modal .modal-body .content .error {
    color: red;
}

#modal .modal-body .content .success {
    color: green;
}