.main-centered {
    flex-direction: row;
    justify-content: space-evenly;
}

#intro {
    width: 40%;
}

#intro a {
    border-radius: 0.75rem;
    padding: 0.6rem 0.85rem;
}

main img {
    width: 30%;
}

#stockOverview {
    text-align: center;
}

.bold {
    font-weight: bold;
}

#chart-box {
    margin-top: 8rem;
}