html, body {
    height: 100%;
    width: 100%;
}

#heading{
    text-align: center; 
    margin: 1rem 0;
}

#market-div {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#chart-box {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 55vh;
    width: 80vw;
}

#chart {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    width: 25rem;
    border: 2px black solid;
}

#search:focus {
    box-shadow: 0 0 5px #2a86f8
}

#searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#results {
    position: absolute;
    width: 25rem;
    z-index: 1;
    background-color: white;
}

#results > div {
    padding-left: 0 0.5rem;
    border: 1px solid #dee2e6;
}

.result-item {
    padding: 0.5rem; 
    border-bottom: 1px solid #dee2e6; 
    transition: background-color 0.5s ease;
    margin: 0;
    cursor: pointer;
}

.result-item:last-child {
    border-bottom: none; 
}

.result-item:hover {
    background-color: #dee2e6;
}

#search-form > button {
    font-weight: 650;
    border: 2px black solid
}

#search-form > button:hover {
    color: #2a86f8 !important;
}

.stock-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid #dee2e6;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.stock-item:hover {
    background-color: #dee2e6;
}

.stock-item-display {
    font-weight: bold !important;
}

.stock-name{
    margin-right: 1rem;
    font-weight: 600;
}

.stock-price, .stock-change-value {
    margin: 0 1rem;
}

.stock-change-percent {
    margin-left: 1rem;
}

.green {
    color: green;
}

.red {
    color: red;
}

#stock-gainers,
#stock-losers {
    margin-top: 2rem;
}

#stock {
    margin-right: 2rem;
}

#last-price {
    font-size: 2rem !important;
}

#important-data,
#data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

#important-data > span {
    font-size: 1.1rem;
    font-weight: 600;
}

#days {
    margin-top: 2rem;
}

.days-button {
    margin: 0 0.125rem;
    border: 2px black solid;
    font-size: 1.1rem;
}

.days-button:hover {
    color: #2a86f8 !important;
    border: 2px black solid;
}

#custom-days { /* Custom days input */
    border: 2px black solid;
    border-radius: 0.5rem;
    padding: 0.4rem;
    width: 10rem;
}

#custom-days-button {
    border: 2px black solid;
    font-size: 1.1rem;
}

#custom-days-button:hover {
    color: #2a86f8 !important;
    border: 2px black solid;
}

#custom-days-div {
    margin: 1rem 0;
}