#heading{
    text-align: center; 
    margin: 1rem 0;
}

#market-div {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#chart-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 60vh;
    width: 80vw;
}

#chart {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    width: 25rem;
    border: 2px black solid;
}
#search:focus {
    box-shadow: 0 0 5px #2a86f8
}

#searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#results {
    position: absolute;
    width: 25rem;
    z-index: 1;
    background-color: white;
}

#results > div {
    padding-left: 0 0.5rem;
    border: 1px solid #dee2e6;
}

.result-item {
    padding: 0.5rem; 
    border-bottom: 1px solid #dee2e6; 
    transition: background-color 0.5s ease;
    margin: 0;
    cursor: pointer;
}

.result-item:last-child {
    border-bottom: none; 
}

.result-item:hover {
    background-color: #dee2e6;
}

#search-form > button {
    font-weight: 650;
    border: 2px black solid
}
#search-form > button:hover {
    color: #2a86f8 !important;
}