#heading {
    text-align: center;
}

.green {
    color: green;
}

.red {
    color: red;
}

#favorite-market-searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#favorite-market-results {
    position: absolute;
    width: 15rem;
    z-index: 1;
    background-color: white;
}

#favorite-market-results > div {
    padding-left: 0 0.5rem;
    border: 1px solid #dee2e6;
}

.result-item-favorite-market {
    padding: 0.5rem;
    border-bottom: 1px solid #dee2e6;
    transition: background-color 0.5s ease;
    margin: 0;
    cursor: pointer;
}

.result-item-favorite-market:last-child {
    border-bottom: none;
}

.result-item-favorite-market:hover {
    background-color: #dee2e6;
}

#settings {
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-top: 4rem;
}

#settings input {
    width: 15rem;
}

