nav .active {
    color: #2a86f8 !important;
    font-weight: 600;
}

.signInUp {
    font-weight: 650;
    padding: 0.15rem 1.3rem;
}

.signInUp:hover,
.settings:hover,
.nav-link:hover {
    color: #2a86f8 !important;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.479);
    background-color: #eff2f5;
}

.navbar-brand {
    height: 3.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

::-webkit-scrollbar {
    width: 5px; 
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
