html,
body {
    font-family: 'Inter', sans-serif;
}

#market-div {
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#chart-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 75vw;
}

#chart {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    width: 25rem;
}

#searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#results {
    position: absolute;
    width: 25rem;
    z-index: 1;
    background-color: white;
}

#results > div {
    padding-left: 0 0.5rem;
    border: 1px solid #dee2e6;
}

.result-item {
    padding: 0.5rem;
    border-bottom: 1px solid #dee2e6;
    transition: background-color 0.5s ease;
    margin: 0;
    cursor: pointer;
}

.result-item:last-child {
    border-bottom: none;
}

.result-item:hover {
    background-color: #dee2e6;
}

.stock-item {
    padding: 0.25rem 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid #dee2e6;
    transition: background-color 0.5s ease;
    cursor: pointer;
    gap: 1.5rem;
}

.stock-item:hover {
    background-color: #dee2e6;
}

.stock-item span {
    font-size: 0.8rem;
}
.stock-item-display span {
    font-weight: 650;
    font-size: 0.7rem;
}

.stock-item span:not(:first-child) {
    text-align: right;
}

.stock-name {
    font-weight: 500;
}

.green {
    color: green;
}

.red {
    color: red;
}

#stock-losers, #stock-gainers {
    margin-top: 2rem;
}

#stock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#last-price {
    font-size: 2rem !important;
}

#important-data,
#data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

#important-data > span {
    font-size: 1.1rem;
    font-weight: 600;
}

#days {
    margin-top: 1rem;
}

.days-button {
    margin: 0 0.125rem;
    font-size: 1.2rem;
    padding: 0.2rem;
}

.days-button:hover {
    color: #2a86f8 !important;
}

#custom-days {
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    width: 10rem;
}

#custom-days-button {
    font-size: 1.1rem;
    padding: 0.2rem 0.75rem;
}

#custom-days-div {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

#toggle-btn {
    padding: 2rem 0.1rem;
    background-color: #2a86f8;
    color: white;
    border-radius: 0.1rem;
    font-size: 1.1rem;
    font-weight: bold;
}

#stock-div {
    border-left: #2a86f8 solid 1px;
    padding-left: 0.5rem;
}

#gainers-heading, #losers-heading, #viewed-heading {
    cursor: pointer;
}

#gainers-heading:hover, #losers-heading:hover, #viewed-heading:hover {
    text-decoration: underline;
}